body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #adacac;
}

#images-carousel {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding: 40px 0;
}

.img-carousel-container {
  width: 800px;
  position: relative;
}

.img-carousel-container:hover button {
  opacity: 1;
}

.img-carousel-container div {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  scroll-snap-align: start;
  width: 800px;
  position: relative;
}

.img-carousel-container div img {
  display: block;
  max-width: 800px;
  -o-object-fit: contain;
     object-fit: contain;
}

.img-carousel-container button {
  position: absolute;
  top: calc(50% - 15px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background: #dddddd;
  color: #000000;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 50%;
  outline: none;
  -webkit-transform: all ease-in-out 0.3s;
          transform: all ease-in-out 0.3s;
  opacity: 0;
}

.img-carousel-container button:hover {
  background: #c7c7c7;
}

.img-carousel-container #prev {
  left: 10px;
}

.img-carousel-container #next {
  right: 10px;
}

.img-carousel-container:hover .img-carousel::-webkit-scrollbar-thumb {
  visibility: visible;
}

.img-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding-bottom: 5px;
}

.img-carousel::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.img-carousel::-webkit-scrollbar-thumb {
  background-color: #acacac;
  border-radius: 10px;
  visibility: hidden;
}

.img-carousel::-webkit-scrollbar-track {
  background: transparent;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #3d3d3d;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 88%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

a {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nextM {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.column {
  float: left;
  width: 25%;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hover-shadow:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*# sourceMappingURL=style.css.map */